[Unit]
Description=Registry server for Docker

[Service]
Type=simple
Environment=DOCKER_REGISTRY_CONFIG=/etc/docker-registry/config.yml
EnvironmentFile=-/etc/sysconfig/docker-registry
WorkingDirectory=/usr/lib/python2.7/site-packages/docker-registry
ExecStart=/usr/bin/gunicorn -k gevent --max-requests 100 -e SETTINGS_FLAVOR=prod \
    --graceful-timeout 3600 -t 3600 -b localhost:5000 -w 8 \
    --access-logfile /var/log/docker-registry/access.log \
    --error-logfile /var/log/docker-registry/server.log \
    docker_registry.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target